.popup__content {
	padding: 34px 36px 37px;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 510px) {
	.popup__content {
		padding-top: 25px;
		padding-left: 22px;
		padding-right: 22px;
		


	
		}
	}	
  