.profile__add {
	border: 2px solid #FFFFFF;
	background-image: url(../../../images/Vector3.svg);
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 2px;
	width: 150px;
	height: 50px;
	margin: auto;
	margin-left: 244px;
	cursor: pointer;
	

}
.profile__add:hover {
	opacity: 0.6;

}


@media screen and (max-width: 894px) {
	.profile__add  {
		margin: auto;

		}
	}


@media screen and (max-width: 681px) {
	.profile__add  {
		margin-top: 36px;
		width: 90%;

		}
	}
  